* {
	box-sizing: border-box;
}

body {
	background-image: url('../images/breakingbad.jpg');
	background-size: 100%;
	font-size: 16px;
	line-height: 40px;
	font-size: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: black;
	font-weight: 600;
}

.container {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	clear: both;
}

h1 {
	text-align: center;
	color: yellow;
	background-color: black;
	margin: 0 auto;
	font-size: 30px;
	padding: 10px;
	margin-bottom: 20px;
}

h3 {
	margin: 0 auto;
	font-size: 20px;
	padding: 10px;
}



button {
	color: white;
	background-color: black;
	overflow: auto;
	font-size: 23px;
	padding: 10px;
	padding-bottom: 5px;
	position: relative;
	left: 250px;
}

.button {
	position: absolute;
	width: 100%;
	align-content: center;
	margin: 40px 0 40px 0;
}

button img {
	width: 20px;
	margin: 0 auto;
	margin-right: 10px;
}

.center {
	text-align: center;
}

/*JAVASCRIPT CLASS*/
.hidden {
	display: none;
}
